meet {
    min-height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    position: relative;
    overflow: hidden;
  }

  .you  {
    max-width: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #fff;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    
  }

  .you .main-video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: 999;
    opacity: 0;
    visibility: visible;
    
  }

  .you .main-video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

 .you .videos{
    position: relative;
    height: 200px;
    margin: 25px 0;
    cursor: pointer;
  }

  
.you .videos video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: none;
  }

  @media (max-width: 750px) {
    .container .main-video{
      position: fixed;
      width: 83%;
    }
    .container .videos{
      width: 100%;
      height: 320px;
    }
  }
  @media (max-width: 600px) {
    .container .videos{
      width: 100%;
      height: 250px;
    }
  }

  @media (max-width: 827px) {
    .container .main-video{
      position: fixed;
      width: 83%;
    }
    .container .videos{
      width: 100%;
      height: 320px;
    }
  }