/********** Template CSS **********/
:root {
    --primary: #06BBCC!important;
    --light: #F0FBFC!important;
    --dark: #181d38!important;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed!important;
    display: none!important;
    right: 45px!important;
    bottom: 45px!important;
    z-index: 99!important;
}


/*** Spinner ***/
#spinner {
    opacity: 0!important;
    visibility: hidden!important;
    transition: opacity .5s ease-out, visibility 0s linear .5s!important;
    z-index: 99999!important;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s!important;
    visibility: visible!important;
    opacity: 1!important;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif!important;
    font-weight: 600!important;
    transition: .5s!important;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF!important;
}

.btn-square {
    width: 38px!important;
    height: 38px!important;
}

.btn-sm-square {
    width: 32px!important;
    height: 32px!important;
}

.btn-lg-square {
    width: 48px!important;
    height: 48px!important;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    font-weight: normal!important;
    border-radius: 0px!important;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none!important;
    content: "\f107"!important;
    font-family: "Font Awesome 5 Free"!important;
    font-weight: 900!important;
    vertical-align: middle!important;
    margin-left: 8px!important;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px!important;
    padding: 25px 0!important;
    color: #FFFFFF!important;
    font-size: 15px!important;
    text-transform: uppercase!important;
    outline: none!important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary)!important;
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0!important;
        padding: 10px 0!important;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE!important;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px!important;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark)!important;
    font-weight: 500!important;
}

.navbar-light.sticky-top {
    transition: .5s!important;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block!important;
        margin-top: 0!important;
        opacity: 0!important;
        visibility: hidden!important;
        transition: .5s!important;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%!important;
        transform: rotateX(-75deg)!important;
        transform-origin: 0% 0%!important;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%!important;
        transform: rotateX(0deg)!important;
        visibility: visible!important;
        transition: .5s!important;
        opacity: 1!important;
    }
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative!important;
        min-height: 500px!important;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute!important;
        width: 100%!important;
        height: 100%!important;
        object-fit: cover!important;
    }
}

.header-carousel .owl-nav {
    position: absolute!important;
    top: 50%!important;
    right: 8%!important;
    transform: translateY(-50%)!important;
    display: flex!important;
    flex-direction: column!important;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0!important;
    width: 45px!important;
    height: 45px!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    color: #FFFFFF!important;
    background: transparent!important;
    border: 1px solid #FFFFFF!important;
    font-size: 22px!important;
    transition: .5s!important;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary)!important;
    border-color: var(--primary)!important;
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)),!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7)!important;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light)!important;
}


/*** Section Title ***/
.section-title {
    position: relative!important;
    display: inline-block!important;
    text-transform: uppercase!important;
}

.section-title::before {
    position: absolute!important;
    content: ""!important;
    width: calc(100% + 80px)!important;
    height: 2px!important;
    top: 4px!important;
    left: -40px!important;
    background: var(--primary)!important;
    z-index: -1!important;
}

.section-title::after {
    position: absolute!important;
    content: ""!important;
    width: calc(100% + 120px)!important;
    height: 2px!important;
    bottom: 5px!important;
    left: -60px!important;
    background: var(--primary)!important;
    z-index: -1!important;
}

.section-title.text-start::before {
    width: calc(100% + 40px)!important;
    left: 0!important;
}

.section-title.text-start::after {
    width: calc(100% + 60px)!important;
    left: 0!important;
}


/*** Service ***/
.service-item {
    background: var(--light)!important;
    transition: .5s!important;
}

.service-item:hover {
    margin-top: -10px!important;
    background: var(--primary)!important;
}

.service-item * {
    transition: .5s!important;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s !important;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1) !important;
}


/*** Team ***/
.team-item img {
    transition: .5s !important;
}

.team-item:hover img {
    transform: scale(1.1) !important;
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute !important;
    content: "" !important;
    top: 0!important;
    left: 0!important;
    height: 100% !important;
    width: 0!important;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%)!important;
    z-index: 1!important;
}

.testimonial-carousel::after {
    position: absolute!important;
    content: ""!important;
    top: 0!important;
    right: 0!important;
    height: 100%!important;
    width: 0!important;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%)!important;
    z-index: 1!important;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px!important;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px!important;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s!important;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px!important;
    display: flex!important;
    align-items: flex-end!important;
    justify-content: center!important;
}

.testimonial-carousel .owl-dot {
    position: relative!important;
    display: inline-block!important;
    margin: 0 5px!important;
    width: 15px!important;
    height: 15px!important;
    border: 1px solid #CCCCCC!important;
    transition: .5s!important;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary)!important;
    border-color: var(--primary)!important;
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px!important;
    width: 35px!important;
    height: 35px!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    color: var(--light)!important;
    font-weight: normal!important;
    border: 1px solid #FFFFFF!important;
    border-radius: 35px!important;
    transition: .3s!important;
}

.footer .btn.btn-social:hover {
    color: var(--primary)!important;
}

.footer .btn.btn-link {
    display: block!important;
    margin-bottom: 5px!important;
    padding: 0!important;
    text-align: left!important;
    color: #FFFFFF!important;
    font-size: 15px!important;
    font-weight: normal!important;
    text-transform: capitalize!important;
    transition: .3s!important;
}

.footer .btn.btn-link::before {
    position: relative!important;
    content: "\f105"!important;
    font-family: "Font Awesome 5 Free"!important;
    font-weight: 900!important;
    margin-right: 10px!important;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px!important;
    box-shadow: none!important;
}

.footer .copyright {
    padding: 25px 0!important;
    font-size: 15px!important;
    border-top: 1px solid rgba(256, 256, 256, .1)!important;
}

.footer .copyright a {
    color: var(--light)!important;
}

.footer .footer-menu a {
    margin-right: 15px!important;
    padding-right: 15px!important;
    border-right: 1px solid rgba(255, 255, 255, .1)!important;
}

.footer .footer-menu a:last-child {
    margin-right: 0!important;
    padding-right: 0!important;
    border-right: none!important;
}