.imgmeet{
    display: inline-block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0 2px 6px #0003;
}

table th,
table td{
    border: 1px solid #00000017;
}